
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Widyatama.Studio</title>
<meta name="description" content="Architecture Studio and Home Designing by Ratnasari Widyatama Putri" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="Architecture Studio and Home Designing by Ratnasari Widyatama Putri">

<!-- Open Graph data -->
<meta property="og:title" content="Widyatama.Studio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://widyatama.studio/" />
<meta property="og:image" content="https://widyatama.studio/assets/widyatama-studio-logo.png" />
<meta property="og:description" content="Architecture Studio and Home Designing by Ratnasari Widyatama Putri" />


<link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css">
<link rel="stylesheet" href="/assets/main.css">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
