<header>
  <div class="wrapper">
    <div class="logo">
      <a href="/">
        <img src="/assets/widyatama-studio-logo.png" alt="Widyatama Studio Logo">
      </a>
    </div>
    <nav class="monospace">
      <a href="/#">
        <span>Home.</span>
      </a>
      <a href="/works">
        <span>Works.</span>
      </a>
      <a href="https://framesia.com/u/nana" target="_blank">
        <span>Blog.</span>
      </a>
      <a href="/#contact">
        <span>Contact.</span>
      </a>
    </nav>
    <div class="clear"></div>
  </div>
</header>