<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="wrapper">
    {% include header.html %}
    <div class="post">
      <h2 class="hide-desktop">{{ page.title }}</h2>
      <div class="post-gallery">
        <div class="post-images siema shadow">
          {% for i in (1..page.images-count) %}
            <div>
              <img src="/images/{{ page.image-folder }}/{{ i }}.jpg" alt="" width="100%">
            </div>
          {% endfor %}
        </div>
        <div class="post-btn-list monospace">
          <span class="btn blue prev shadow">Prev</span>
          <span class="btn red next shadow">Next</span>
        </div>

        <div class="denah">
          <h3 class="monospace">Floor plan</h3>
          <div class="post-images shadow">
            {% for i in (1..page.denah-count) %}
              <div>
                <img src="/images/{{ page.image-folder }}/d{{ i }}.jpg" alt="" width="100%">
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
      <div class="post-desc">
        <h2 class="show-desktop">{{ page.title }}</h2>
        <p>
          <table class="monospace">
            <tr><td>Project type</td><td>{{ page.project_type }}</td></tr>
            <tr><td>Client</td><td>{{ page.client }}</td></tr>
            <tr><td>Location</td><td>{{ page.location }}</td></tr>
            <tr><td>Site area</td><td>{{ page.area }} m<sup>2</sup></td></tr>
            <tr><td>Building area</td><td>{{ page.building_area }} m<sup>2</sup></td></tr>
            <tr><td>Project year</td><td>{{ page.project_year }}</td></tr>
          </table>
        </p>
        <div class="post-content">
          {{ content }}
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <script src="/assets/siema.min.js"></script>
  <script src="/assets/main.js"></script>
</body>
</html>