<html>
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} by Widyatama.Studio</title>
  <meta name="description" content="{{ content | strip_html | truncate: 140 }}" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="{{ content | strip_html | truncate: 140 }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }} by Widyatama.Studio" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://framesia.com/{{ page.permalink }}" />
  <meta property="og:image" content="https://framesia.com/images/{{ page.image-folder }}/{{ page.cover }}.jpg" />
  <meta property="og:description" content="{{ content | strip_html | truncate: 140 }}" />


  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css">
  <link rel="stylesheet" href="/assets/main.css">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>
  {% include header.html %}
  <div class="wrapper">
    <div class="post">
      <h2 class="hide-desktop">{{ page.title }}</h2>
      <div class="post-gallery">
        <div class="post-images siema shadow">
          {% for i in (1..page.images-count) %}
            <div>
              <img src="/images/{{ page.image-folder }}/{{ i }}.jpg" alt="" width="100%">
            </div>
          {% endfor %}
        </div>
        <div class="post-btn-list monospace">
          <span class="btn blue prev shadow">Prev</span>
          <span class="btn red next shadow">Next</span>
        </div>

        <div class="denah">
          <h3 class="monospace">Floor plan</h3>
          <div class="post-images shadow">
            {% for i in (1..page.denah-count) %}
              <div>
                <img src="/images/{{ page.image-folder }}/d{{ i }}.jpg" alt="" width="100%">
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
      <div class="post-desc">
        <h2 class="show-desktop">{{ page.title }}</h2>
        <p>
          <table class="monospace">
            <tr><td>Project type</td><td>{{ page.project_type }}</td></tr>
            <tr><td>Client</td><td>{{ page.client }}</td></tr>
            <tr><td>Location</td><td>{{ page.location }}</td></tr>
            <tr><td>Site area</td><td>{{ page.area }} m<sup>2</sup></td></tr>
            <tr><td>Building area</td><td>{{ page.building_area }} m<sup>2</sup></td></tr>
            <tr><td>Project year</td><td>{{ page.project_year }}</td></tr>
          </table>
        </p>
        <div class="post-content">
          {{ content }}
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <script src="/assets/siema.min.js"></script>
  <script src="/assets/main.js"></script>
</body>
</html>